#root {
  margin: 0;
  text-align: left;
}

.sub-banner {
    position: fixed;
    top: 3.75rem; /* Default for mobile */
    left: 0;
    right: 0;
    z-index: 40;
    background-color: gray;
}

@media (min-width: 768px) {
    .sub-banner {
        top: 4.75rem;
    }
}